<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dao.mapper.CloudUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.dao.entity.CloudUser">
        <id column="ID" property="id"/>
        <result column="NAME" property="userName"/>
        <result column="DATE" property="dateCreated"/>
        <result column="ADDRESS" property="remark"/>
    </resultMap>
    <insert id="insertUser" useGeneratedKeys="true" keyColumn="ID">
        insert into cloud_user (`NAME`,`DATE`,ADDRESS)
        values (#{userName},#{dateCreated},#{remark})
    </insert>
    <update id="updateById" parameterType="com.cloud.dao.entity.CloudUser">
        update cloud_user set `NAME` = #{userName} where id = #{id}
    </update>
    <select id="getById" resultMap="BaseResultMap">
        select  ID, `NAME`,`DATE`,ADDRESS from cloud_user where id = #{id}
    </select>

</mapper>
